body {
    background-image: url(img/4safe.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#container {
    text-align: center;
   

}

h1 {
   color: rgb(166, 229, 109);
}

h2 {
    color: white;
}

.menu {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    padding: 10px;
    padding-left: 15%;
}
.menu li{
    list-style: none;
}

  
.menu {
    color: rgb(166, 229, 109);

}

.container-logos:{
    color: rgb(166, 229, 109);
    background-color: rgb(166, 229, 109);
    transition: 0.3s all;
    
}
h2, h3 {
    color: rgb(166, 229, 109);
}
p{
    color: white;
}

