body{
    background-color: rgb(59, 79, 102);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}

.servicos{
    
    display: contents;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.lista-servicos {
    display: flex;
    justify-content: space-around;
    text-align: left;
}

h2, h3 {
    color: rgb(166, 229, 109);
}
p{
    color: white;
}
button:hover {
    color: white;
    background-color: rgb(166, 229, 109);
    cursor: pointer; 
    transition: 0.3s;
    border-radius: 20px;
    
}

